# dependencies
node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log
yarn-debug.log
yarn-error.log

# tests
/coverage
/.nyc_output

# dist
/dist
public/index.html
public/service-worker.js
public/asset-manifest.json
public/static

#log
log
!log/.gitkeep
